@model Market.Domain.ViewModels.Cart.CartViewModel

@{
	ViewBag.Title = "title";
	Layout = "_Layout";

	var cartItemList = Model.CartItems;
	int j = 0;
}

<div class="mb-3">
	<h3>Корзина</h3>
</div>

<div class="row">
	<div class="col-8">
		@{
			if (cartItemList.Count() > 0)
			{
				j++;
				<ul class="list-group list-group-lg list-group-flush list my--4">
					@foreach (var cartItem in cartItemList)
					{
						var product = cartItem.Product;
						<li class="list-group-item px-0">
							<div class="row g-0">
								<div class="col-md-3">
									<img src=@product.ImgPath class="img-fluid rounded-start" alt="..."
							 	style="height:18rem; width:100%; object-fit: cover;">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<div class="row">
											<div class="col-11">
												<h5 class="card-title">@product.Name</h5>
												<p class="card-text">@product.Price ₽</p>
												<p class="card-text">@product.Description</p>
												<form asp-controller="Cart" asp-action="DeleteCartItem" method="post" asp-route-cartId="@cartItem.Id"
										  data-ajax="true" data-ajax-success="deleteItem(this)" data-ajax-update="#totalSum">
													<input type="submit" class="btn btn-outline-primary" value="Удалить" />
												</form>
											</div>
											<div class="col-1">
												<form asp-action="UpdateCartItem" asp-controller="Cart" asp-route-id="@cartItem.Id"
										  method="post" data-ajax="true" data-ajax-success="" data-ajax-update="#totalSum">
													<select asp-for="@cartItem.Count" name="Count" class="select_send_ajax selectpicker form-select float-end" style="width:5rem;">
														@for (int i = 1; i <= 10; i++)
														{
															<option value="@i">@i</option>
														}
													</select>
												</form>

											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					}
				</ul>
			}
			else
			{
				<div class="mb-3">
					<h5>Корзина пуста</h5>
				</div>
			}
		}
	</div>
	<div class="col-4" id="totalSum">
		<partial name="_CartTotalSum" model="@Model" />
	</div>
</div>





@section Scripts {
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>

	<script>
		function deleteItem(form) {
			$(form).parents('li').remove();
		}

		//function editQuantity(form) {
		//	$(form).submit();
		//}

		//function selectQuantity(form) {
		//	$('#'form).submit();
		//}

		$('.select_send_ajax').on('change', function () {
			$(this).parents('form').submit();
			console.log('отправка формы');
		});

						//$('form').submit(function (event) { //Отправка всех форм
						//	console.log(123);
						//	event.preventDefault();
						//});
	</script>
}

	@*
<script>
	// Удаление пользователя
	async function DeleteUser(id) {
		const response = await fetch("api/Cart/GetCart/" + id, {
			method: "post",
			headers: { "Accept": "application/json" }
		});
		if (response.ok === true) {
			const user = await response.json();
			document.querySelector("tr[data-rowid='" + user.id + "']").remove();
		}
	}
</script>*@


	@*
$('.deleteHistory').click(function(){
  var url = '/UserHistory';
  $.ajax({
    type: "POST",
    url: url,
    data: data,
    success: onSuccessCallback
  });
});*@