@model IEnumerable<Market.Domain.Entity.Product>
@*@model Market.Domain.ViewModels.ProductsCart.ProductsCartItems*@



<div class="row">

	<div class="col-2">
		@await Component.InvokeAsync("CategoryList")
	</div>



	<div class="col-10">

		@if (User.IsInRole("admin"))
		{
			<div class="col-12 my-3">
				<a asp-action="SaveProduct" asp-route-id="0" class="btn btn-danger">Добавить продукт</a>
			</div>
		}


		<div class="row">

			@{
				foreach (var product in Model)
				{
					<div class="col-4">
						<div class="card mb-3">
							<img src=@product.ImgPath class="card-img-top embed-responsive-item" alt="..."
						 	style="height:17rem; width:100%; object-fit: cover;">
							<div class="card-body">
								<h5 class="card-title">@product.Name</h5>
								<p class="card-text">@product.Price.ToString("0.#####") ₽</p>
								<p class="card-text">@product.Category.Name</p>

								<div class="d-inline-block">
									<div class="d-inline-block">
										<div class="countItems" id="countItems-@product.Id" data-id="@product.Id"></div>
									</div>
									<div class="d-inline-block">
										<a asp-action="GetProduct" asp-route-id="@product.Id" class="btn btn-outline-secondary">Подробнее</a>
									</div>
								</div>

								@if (User.IsInRole("admin"))
								{
									<div class="row">
										<a asp-action="SaveProduct" asp-route-id="@product.Id" class="btn btn-primary">Изменить</a>
										<a asp-action="DeleteProduct" asp-route-id="@product.Id" class="btn btn-primary">Удалить</a>
									</div>
								}
							</div>
						</div>
					</div>
				}
			}
		</div>

	</div>

</div>





@section Scripts {
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>

	<script>

		function AddCartItem(form) {
			$.ajax({
				url: '/Account/Login',
				type: 'GET',
				success: function (result) {
					window.location.href = '/Account/Login';
				}
			});
		}


		$('.countItems').each(function (evt) {
			var id = $(this).data('id');
			var name = '#countItems-' + String(id);

			$.ajax({
				url: '/Cart/GetCartItemQuantityPartial',
				type: 'GET',
				data: {
					'id': id
				},
				success: function (partialView) {

					var count = name;
					$(count).html(partialView);
					$(count).show();

				}
			});
		});

	</script>

	@*
	<script>
	$(document).ready(function () {
	(function () {
	var url = $("#categories-view").data("url");
	$("#categories-view").load(url);
	})();
	});*@
	@*</script>*@

		}

