@model IEnumerable<Market.Domain.Entity.Product>
@*@model Market.Domain.ViewModels.ProductsCart.ProductsCartItems*@


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>



<script>
	function GetCount(productId) {
		var id = productId;
		var name = '#countItems-' + String(id);

		$.ajax({
			url: '/Cart/GetCartItemQuantityPartial',
			type: 'GET',
			data: {
				'id': id
			},
			success: function (partialView) {
				var count = name;
				$(count).html(partialView);
			}
		});
	}
</script>

<div class="row">

	<div class="col-2">
		@await Component.InvokeAsync("CategoryList")
	</div>

	<div class="col-10">

		@if (User.IsInRole("admin"))
		{
			<div class="col-12 my-3">
				<a asp-action="SaveProduct" asp-route-id="0" class="btn btn-success">Добавить продукт</a>
			</div>
		}

		<div class="row">
			@{

				foreach (var product in Model)
				{
					<div class="col-3">
						<div class="card mb-3" style="border: 0px">
							<a asp-action="GetProduct" asp-route-id="@product.Id">
								<img src=@product.ImgPath class="card-img-top embed-responsive-item" alt="..."
							 	style="height:17rem; width:100%; object-fit: cover;">
							</a>
							<div class="my-2">

								<div class="mb-1">
									<span class="badge bg-light text-dark fs-6">
										@product.Price.ToString("0.#####") ₽
									</span>
								</div>
								@*<p class="card-text">@product.Category.Name</p>*@
								<p class="fs-6 mb-4">@product.Name</p>
								<div>
									@if (User.Identity.IsAuthenticated)
									{
										<div class="countItems" id="countItems-@product.Id" data-id="@product.Id"></div>
										<script type='text/javascript'>
											GetCount('@product.Id');
										</script>
									}
									else
									{
										<input type="submit" class="btn btn-primary" value="В корзину" onclick="AddCartItem(this)">
									}

								</div>

								@if (User.IsInRole("admin"))
								{
									<div class="mt-3">
										<div class="d-inline-block">
											<a asp-action="SaveProduct" asp-route-id="@product.Id" class="btn btn-outline-primary">Изменить</a>
										</div>
										<div class="d-inline-block">
											<a asp-action="DeleteProduct" asp-route-id="@product.Id" class="btn btn-outline-danger">Удалить</a>
										</div>
									</div>
								}
							</div>
						</div>
					</div>
				}
			}
		</div>
	</div>
</div>





@section Scripts {


	<script>

		function AddCartItem(form) {
			$.ajax({
				url: '/Account/Login',
				type: 'GET',
				success: function (result) {
					window.location.href = '/Account/Login';
				}
			});
		}

		//function GetCountPartial(form) {
		//	var id = $(form).data('id');
		//	var name = '#countItems-' + String(id);

		//	$.ajax({
		//		url: '/Cart/GetCartItemQuantityPartial',
		//		type: 'GET',
		//		data: {
		//			'id': id
		//		},
		//		success: function (partialView) {

		//			var count = name;
		//			$(count).html(partialView);
		//			$(count).show();
		//		}
		//	});
		//}


	</script>

	@*
	<script>
	$(document).ready(function () {
	(function () {
	var url = $("#categories-view").data("url");
	$("#categories-view").load(url);
	})();
	});*@
	@*</script>*@

		}

